@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.navbar-logo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-link {
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #ffcc00; 
}

.navbar-button {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-button:hover {
  background-color: rgb(14, 116, 144);
  color: #000;
}

.hero {
  background-image: url('https://via.placeholder.com/1200x400');
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  color: #fff;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.5rem;
}

.features {
  background-color: #f9f9f9;
}

.feature-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fitur {
  padding: 3rem 0;
  background-color: #f9fafb;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

.mb-8,
.mb-12 {
  margin-bottom: 2rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.sm\:grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.landing{
  margin-top:10%;
}